.correct-answer{
    background : #b7ed73;
    margin: 5rem 1rem 1rem 1rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

.wrong-answer{
    background : #6acff3;
    margin: 5rem 1rem 1rem 1rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

.notanswered-answer{
    background : #ffffff;
    margin: 1rem;
    border-radius: 5px;

    width: 20rem;
    height: 15rem;
    float: left;
}